{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <header class="header">
          {% block header %}
            <h1 class="brand-title"><a href="{{site.url}}" rel="home">{{site.name}}</a></h1>
            <h2 class="brand-tagline">MA Interaction Design Communication</h2>
            <nav id="nav-main" class="nav-main" role="navigation">
              {% include "categories.twig" with {'categories': categories} %}
              {% include "menu.twig" with {'menu': menu} %}
            </nav>
          {% endblock %}
        </header>
      </div>
      <div class="content pure-u-1 pure-u-md-3-4">
        {% block content %}
        Sorry, no content
        {% endblock %}
        {% block footer %}
        <footer class="footer">
          {% include 'footer.twig' with { 'menu' : footer } %}
        </footer>
        {{ function('wp_footer') }}
        {% endblock %}
      </div>
	  </div>
	</body>
</html>
